<div class="py-3 bottom-nav">
    <div class="container bottom-nav-inner">
        <a href="/" class="bottom-anchor"><img src="/icons/home.svg" class="bottom-anchor-icon" alt=""></a>
        <a href="/sendmoney" class="bottom-anchor"><img src="/icons/money.svg" class="bottom-anchor-icon" alt=""></a>
        <a href="/transaction" class="bottom-anchor"><img src="/icons/transactions.svg" class="bottom-anchor-icon" alt=""></a>
        <a href="/logout" class="bottom-anchor"><img src="/icons/logout.svg" class="bottom-anchor-icon" alt=""></a>
    </div>
</div>