<div class="sidebar" id="sidebar">
    <!-- <div class="nav-adjust"></div> -->
    <a href="/" class="side-brand">Welcome <%= finder.name %></a>
    <a href="/" class="sidebar-item" id="home">HOME</a>
    <a href="/sendmoney" class="sidebar-item" id="send-money">SEND MONEY</a>
    <a href="/transaction" class="sidebar-item" id="transaction">TRANSACTION</a>
    <!-- <a href="" class="sidebar-item">hello</a> -->
    <a href="/logout" class="sidebar-item mt-5">Logout</a>
</div>